.container {
	width: 1200px;
	max-width: 100%;
	padding: 0px;
	margin: 0 auto;
	box-sizing: border-box;
}

@media (max-width: 1248px) {
    .container {
        padding: 0px 24px;
    }
}

@media (max-width: 768px) {
	.container {
        padding: 0px 15px;
    }
}