.NavBar{
    height: 80px;
    background-color: var(--color-green);
    border-radius: var(--border-radius-sm);
    /* overflow: hidden; */
    margin: 40px 0;
    box-shadow: var(--shadow-1);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.NavBar img{
    height: 52px;
    height: 52px;
    margin: 0 18px;
}
.NavBar input[type=search]{
    -moz-appearance: none;/* older firefox */
    -webkit-appearance: none; /* safari, chrome, edge and ie mobile */
    appearance: none; /* rest */
 }
.NavBar input{
    height: 44px;
    min-width: 350px;
    border: 0;
    border-radius: var(--border-radius-md);
    font-size: 18px;
    font-weight: 900;
    box-sizing: border-box;
    padding: 0 20px;
    color: var(--color-dark-gray);
}

.NavBar input::-webkit-input-placeholder { /* Edge */
    font-weight: 500;
    color: var(--color-light-gray);
}
.NavBar input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-weight: 500;
    color: var(--color-light-gray);
}
.NavBar input::placeholder {
    font-weight: 500;
    color: var(--color-light-gray);
}

.NavBar input:disabled {
    background-color: var(--color-lighter-gray);
    cursor: not-allowed;
}

.Account{
    background-color: var(--color-dark-gray);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    margin-left: auto;
    cursor: pointer;
    position: relative;
    border-radius: 0 var(--border-radius-sm) 0 0;
}

.Account:hover  {
    border-radius: 0 var(--border-radius-sm) 0 0;
}

.DropdownContent {
    display: none;
    position: absolute;
    width: 100%;
    top: calc(100%);
    left: 0;
    background-color:transparent;
    box-shadow: var(--shadow-1);
    z-index: 1;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 0 0 var(--border-radius-xs) var(--border-radius-xs);
}

.DropdownContent a {
    background-color:white;
    color: var(--color-red);
    padding: 15px 20px;
    text-decoration: none;
    display: block;
    font-weight: 800;
    transition: all 0.2s ease-in-out;
}

.DropdownContent a:hover {
    background-color: var(--color-red);
    color: white;
}

.Account:hover .DropdownContent {
    display: block;
}

.Account div:first-child {
    margin-left: 30px;
    font-size: 18px;
    line-height: 1;
    font-weight: 800;
    color: var(--color-white);
}
.Account img {
    width: 40px;
    height: 40px;
    background-color: var(--color-lighter-gray);
    margin: 0 24px 0 20px;
    border: 0;
    border-radius: var(--border-radius-sm);
    box-sizing: border-box;
    background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
}


@media (max-width: 1248px) {
    .NavBar{
        margin: 24px 0;
    }
}

@media (max-width: 768px) {
    .NavBar input{
        height: 44px;
        min-width: 245px;
    }
    .NavBar{
        margin: 15px 0;
    }
}

@media (max-width: 575px) {
    .NavBar{
        min-height: 115px;
        flex-wrap: wrap;
        align-items: flex-start;
        border-radius: var(--border-radius-md);
        padding-top: 10px;
    }
    .NavBar img{
        height: 52px;
        height: 52px;
        margin: 0;
        margin-left: 10px;
        order: 1;
    }
    .NavBar input{
        height: 44px;
        width: calc(100% - 20px);
        margin-left: 10px;
        border: 0;
        border-radius: var(--border-radius-md);
        font-size: 18px;
        font-weight: 900;
        box-sizing: border-box;
        padding: 0 20px;
        color: var(--color-dark-gray);
        order: 3;
    }
    .Account{
        background-color: var(--color-dark-gray);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        height: auto;
        order: 2;
        margin-left: auto;
        margin-right: 10px;
        border-radius: var(--border-radius-md);
    }
    .Account img {
        width: 40px;
        height: 40px;
        margin: 5px;
        margin-left: 20px;
    }
}