@import './variables.css';

* {
  font-family: Circular;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg-grey) !important;
}

@media (prefers-color-scheme: dark) {
  body, html {
    background-color: var(--color-gray) !important;
  }  
}