:root {

    /* COLOR PALETTE */
    --color-black           : #000000;
    --color-white           : #ffffff;
    --color-bg-grey         : #f5f5f5;
    --color-lighter-gray    : #EAEAEA;
    --color-light-gray      : #A7A7A7;
    --color-dark-gray       : #333333;
    --color-gray            : #121212;

    --color-yellow          : #FFA900;
    --color-green           : #1BD760;

    --color-dark-gray-90    : rgba(51, 51, 51, 0.85);

    /* Shadows */
    --shadow-1: 0 30px 40px -20px rgba(0, 0, 0, 0.1);
    --shadow-1-active: 0 30px 40px -10px rgba(0, 0, 0, 0.1);

    /* Border Radiuses */
    --border-radius-lg: 35px;
    --border-radius-md: 25px;
    --border-radius-sm: 20px;

    /* transitions */
    --transition-02: all 0.2s ease-out;
    --transition-03: all 0.3s ease-out;

    /* scale */
    --scale-hover: scale(1.025);
    --scale-active: scale(1);
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
    /* :root {
        --color-bg: #121212;
    } */
}

/* FONTS */
@font-face {
    font-family: 'Circular';
    src: 
        /* url('../assets/fonts/lineto-circular-book.eot?#iefix') format('embedded-opentype'),  */
        /* url('../assets/fonts/lineto-circular-book.woff') format('woff'),  */
        url('../assets/fonts/lineto-circular-book.ttf')  format('truetype');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Circular';
    src: 
        /* url('../assets/fonts/lineto-circular-medium.eot?#iefix') format('embedded-opentype'),  */
        /* url('../assets/fonts/lineto-circular-medium.woff') format('woff'),  */
        url('../assets/fonts/lineto-circular-medium.ttf')  format('truetype');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Circular';
    src: 
        /* url('../assets/fonts/lineto-circular-bold.eot?#iefix') format('embedded-opentype'),  */
        /* url('../assets/fonts/lineto-circular-bold.woff') format('woff'),  */
        url('../assets/fonts/lineto-circular-bold.ttf')  format('truetype');
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'Circular';
    src: 
        /* url('../assets/fonts/lineto-circular-black.eot?#iefix') format('embedded-opentype'),  */
        /* url('../assets/fonts/lineto-circular-black.woff') format('woff'),  */
        url('../assets/fonts/lineto-circular-black.ttf')  format('truetype');
    font-weight: 900;
    font-display: swap;
}