.WelcomeText {
    min-height: calc(100vh - 320px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.WelcomeText h1 {
    margin: 0;
    font-size: 100px;
    font-weight: 900;
    color: var(--color-dark-gray);
    margin-bottom: 10px;
}


.WelcomeText h2 {
    margin: 0;
    font-size: 50px;
    font-weight: 900;
    color: var(--color-dark-gray);
}

.WelcomeText hr {
    margin: 0;
    margin: 40px 0;
    width: 150px;
    border: 5px solid var(--color-green);
    border-radius: 6px;
}

.WelcomeText h3 {
    margin: 0;
    font-size: 22px;
    font-weight: 500;
    color: var(--color-light-gray);
}

@media (max-width: 1248px) {

}

@media (max-width: 768px) {
    .WelcomeText {
        min-height: calc(100vh - 320px);
        align-items: center;
        text-align: center;
    }

    .WelcomeText h1 {
        font-size: 75px;
        margin-bottom: 5px;
    }
    
    
    .WelcomeText h2 {
        font-size: 40px;
    }
    
    .WelcomeText hr {
        margin: 30px 0;
        border: 3px solid var(--color-green);
    }
    
    .WelcomeText h3 {
        font-size: 18px;
    }
}

@media (max-width: 575px) {
    .WelcomeText {
        min-height: calc(100vh - 173px - 160px);
        align-items: center;
    }

    .WelcomeText h1 {
        font-size: 50px;
        margin-bottom: 5px;
    }
    
    
    .WelcomeText h2 {
        font-size: 24px;
    }
    
    .WelcomeText hr {
        margin: 20px 0;
        border: 2px solid var(--color-green);
    }
    
    .WelcomeText h3 {
        font-size: 14px;
    }
}