.SectionTitle{
    width: 100%;
}
.SectionTitle h1, .SectionTitle h2{
    margin: 0
}

.SectionTitle h1 {
    color: var(--color-dark-gray);
    font-size: 60px;
    font-weight: 900;
}

.SectionTitle h2 {
    color: var(--color-light-gray);
    font-size: 30px;
    font-weight: 500;
}

@media (prefers-color-scheme: dark) {
    .SectionTitle h1 {
        color: var(--color-white);
    }
    
    .SectionTitle h2 {
        color: var(--color-light-gray);
    }
}

@media (max-width: 768px) {
    .SectionTitle h1 {
        font-size: 50px;
    }
    .SectionTitle h2 {
        font-size: 20px;
    }
}

@media (max-width: 575px) {
    .SectionTitle h1 {
        font-size: 35px;
    }
    .SectionTitle h2 {
        font-size: 18px;
    }
}