.Layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.Children {
    padding-bottom: 60px;
}

@media (max-width: 1248px) {
    .Children {
        padding-bottom: 40px;
    }
}

@media (max-width: 768px) {
    .Children {
        padding-bottom: 20px;
    }
}

@media (max-width: 575px) {
    .Children {
        padding-bottom: 15px;
    }
}