.Footer {
    width: 100%;
    min-height: 80px;
    background-color: var(--color-dark-gray);
    margin-top: auto;
    color: var(--color-white);
}

.Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Logo {
    line-height: 80px;
    font-size: 28px;
    font-weight: 800;
}
.Copyright {
    line-height: 80px;
    margin-left: auto;
    font-size: 18px;
    font-weight: 800;
}
.Copyright a{
    text-decoration: none;
    color: var(--color-green);
}
@media (max-width: 575px) {
    .Container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        padding: 20px 0;
    }
    .Copyright {
        margin-left: 0;
        line-height: 40px;
    }
    .Logo {
        line-height: 40px;
    }
}